@model IEnumerable<SinetLeaveManagement.Models.LeaveRequest>

<h4>Leave History</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Reason</th>
            <th>Start</th>
            <th>End</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Reason</td>
                <td>@item.StartDate.ToShortDateString()</td>
                <td>@item.EndDate.ToShortDateString()</td>
                <td>
                    <span class="badge
                            @(item.Status == "Approved" ? "bg-success" :
                                                    item.Status == "Rejected" ? "bg-danger" : "bg-warning text-dark")">
                    @item.Status
                </span>
            </td>
        </tr>
                }
    </tbody>
</table>
